body {
    font-family: Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    height: 72px;
}

.footer {
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    text-align: left;
    margin-top: 10px;
    margin-left: 200px;
}

img {
    height: 200px;
    width: auto;
}

.bottle-images img {
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.bottle-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.descriptions {
    color: #1F2937;
}

img.venue-image {
    height: 300px;
    width: 500px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    flex: auto;
}

.container {
    display: block;
    text-align: left;
    width: 400px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

p {
    margin: 0px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

button.address {
    color: #F9FAF8;
    background: #3882F6;
    padding: 5px 10px;
    margin-top: 40px;
    border: 1px solid #3882F6;
    border-radius: 5px;
}
.section-two {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
    padding-bottom: 10px;
}

.author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    text-align: right;
    margin-right: 50px;
}

.section-four {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box {
    display: flex;
    background-color: #3882F6;
    padding: 24px 48px;
    justify-content: space-between;
    align-items: center;
}

.text-one {
    text-align: left;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 5px;
}

.text-two {
    text-align: left;
    color: #E5E7EB;
}

button.shop {
    color: #F9FAF8;
    background: #3882F6;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
}